@model CarHouseThree.Models.ViewModels.ShowUser

@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<div class="container text-left">
    <h4>ID#@Html.DisplayFor(model => model.user.UserID) @Html.DisplayFor(model => model.user.UserFname) @Html.DisplayFor(model => model.user.UserLname)</h4>

    <i>Image to be added in future update</i>
    <br />
    <br />

    <strong>Email: </strong>@Html.DisplayFor(model => model.user.UserEmail) 
    

</div>






<p>
    @Html.ActionLink("Back to List", "List")
</p>
